.advantages {
  position: relative;
  display: flex;
  flex-direction: column;
  // align-items: center;
  width: 100%;
  height: auto;
  background-color: $light-grey;
  padding-top: 115px;
  padding-bottom: 115px;
}

.advantages h2 {
  @include desktop-header;
  margin-bottom: 67px;
  text-align: center;
}

.advantages h3 {
  margin: 0;
  color: $dark-blue;
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 9px;
}

.advantages p {
  margin: 0;
  color: $dark-blue;
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  height: 316px;
  min-width: 1040px;
  margin: 0 auto;
}

.advantages__item {
  width: 350px;
  height: 158px;
  display: flex;
  box-sizing: border-box;
}

.advantages__description {
  flex-direction: column;
  width: 191px;
}

.advantages__item--cars div:last-child {
  width: 242px;
}

.advantages__item--experience div:last-child {
  width: 235px;
}

.advantages__item--comfort {
  padding-top: 79px;
}

.advantages__item--experience {
  padding-top: 78px;
}

.advantages__image--square,
.advantages__image--comfort {
  width: 108px;
  height: 75px;
  margin-right: 33px;
  padding-left: 27px;
}

.advantages__image--comfort {
  margin-right: 28px;
  padding-left: 21px;
}

.advantages__image--experience {
  width: 70px;
  height: 74px;
  margin-right: 32px;
  padding-left: 11px;
}

.advantages__image--cars {
  width: 72px;
  height: 75px;
  margin-right: 30px;
  padding-left: 11px;
}

.advantages__item--trainers {
  width: 240px;
  height: 306px;
  margin: 0 50px;
  background-color: $dark-blue;
  color: $white;
  flex-direction: column;
  padding: 38px 25px 15px 25px;
  box-sizing: border-box;
}

.advantages__item--trainers h3 {
  color: $white;
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  font-size: 74px;
  line-height: 111px;
  text-align: center;
  margin-bottom: 34px;
}

.advantages__number {
  display: block;
  height: auto;
  margin-bottom: -16px;
}

.advantages__note {
  display: block;
  font-size: 26px;
  line-height: 39px;
}

.advantages__item--trainers p {
  color: $white;
  text-align: center;
}

.advantages__item--square,
.advantages__item--cars {
  position: relative;

  &::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 340px;
  height: 2px;
  background-color: rgba(209, 10, 66, 0.2);
}
}

@media (max-width: $tablet-width) {
  .advantages {
    padding-top: 103px;
    padding-bottom: 50px;
  }

  .advantages h2 {
    text-align: center;
    @include tablet-header;
    margin-bottom: 43px;
  }

  .advantages h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 1px;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    // align-items: flex-start;
    // justify-content: flex-start;
    height: auto;
    width: 768px;
    min-width: 768px;
    box-sizing: border-box;
    padding: 0 45px;
    margin: 0 auto;
  }

  .advantages__item {
    width: 339px;
    height: auto;
    padding-bottom: 44px;
  }

  .advantages__item--square,
  .advantages__item--cars {
    &::after {
      display: none;
    }
  }

  .advantages__item--trainers {
    order: 3;
    width: 442px;
    height: 239px;
    padding: 14px 126px;
    margin: 0 118px;
    margin-bottom: 43px;
  }

  .advantages__item--trainers h3 {
    font-size: 74px;
    line-height: 111px;
    margin-bottom: 13px;
  }

  .advantages__item--square {
    order: 1;
  }

  .advantages__item--cars {
    order: 2;
  }

  .advantages__item--comfort {
    padding-top: 0;
    order: 4;
  }

  .advantages__item--experience {
    padding-top: 0;
    order: 5;
  }

  .advantages__image {
    padding-left: 0;
  }

  .advantages__image--square {
    padding-top: 5px;
    width: 89px;
    height: 60px;
    margin-right: 29px;
  }

  .advantages__image--comfort {
    width: 89px;
    height: 60px;
    padding-top: 6px;
  }

  .advantages__image--experience {
    width: 57px;
    height: 60px;
    padding-left: 14px;
    padding-top: 7px;
  }

  .advantages__image--cars {
    padding-left: 17px;
    padding-top: 5px;
    width: 59px;
    height: 60px;
  }

  .advantages__number {
    margin-bottom: -18px;
  }

  .advantages__note {
    font-size: 22px;
    line-height: 33px;
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    padding-top: 72px;
    padding-bottom: 21px;
  }

  .advantages h2 {
    @include mobile-header;
    margin-bottom: 51px;
  }

  .advantages__item {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // align-self: center;
    // justify-content: center;
    box-sizing: border-box;
    padding: 0 15px;
    margin-bottom: 41px;
  }

  .advantages__item h3,
  .advantages__item p {
    text-align: center;
  }

  .advantages__item h3 {
    margin-bottom: 4px;
  }

  .advantages__number {
    margin-bottom: -24px;
  }

  .advantages__note {
    margin-bottom: 5px;
  }

  .advantages__list {
    padding: 0;
    flex-direction: column;
    // align-items: center;
    // align-self: center;
    // justify-content: center;
    height: auto;
    width: 320px;
    min-width: auto;
    margin: 0 auto;
  }

  .advantages__item--trainers {
    order: 3;
    width: 320px;
    height: 239px;
    margin: 0;
    padding: 21px 53px 0 53px;
    margin-bottom: 52px;
  }

  .advantages__item--cars div:last-child {
    width: 236px;
  }

  .advantages__image--square {
     width: 89px;
     height: 63px;
  }

  .advantages__image--cars {
     width: 59px;
     height: 63px;
  }

  .advantages__image--experience {
    width: 57px;
    height: 63px;
  }

  .advantages__image--comfort {
    width: 89px;
    height: 63px;
  }

  .advantages__image {
    padding: 0;
    margin: 0;
    align-self: center;
    margin-bottom: 10px;
  }
}
