.advantages {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: $light-grey;
  padding-top: 118px;
  padding-bottom: 115px;
}

.advantages h2 {
  @include desktop-header;
  margin-bottom: 67px;
  text-align: center;
}

.advantages h3 {
  margin: 0;
  color: $dark-blue;
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 9px;
}

.advantages p {
  margin: 0;
  color: $dark-blue;
  font-family: "RobotoCondensedLight", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.advantages__list {
  position: relative;

  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  width: 1040px;
  margin: 0 auto;
}

.advantages__item {
  width: 350px;
  display: flex;
  box-sizing: border-box;
}

.advantages__image--square {
  padding-left: 27px;
  padding-right: 31px;
}

.advantages__image--comfort {
  padding-left: 21px;
  padding-right: 29px;
}

.advantages__item--comfort {
  padding-top: 77px;
}

.advantages__image--experience {
  padding-left: 11px;
  padding-right: 33px;
}

.advantages__item--experience {
  padding-top: 77px;
}

.advantages__item--experience div:last-child {
  width: 235px;
}

.advantages__item--comfort div:last-child {
  width: 194px;
}

.advantages__item--square {
  padding-bottom: 78px;
}

.advantages__image--cars {
  padding-left: 11px;
  padding-right: 30px;
}

.advantages__item--cars div:last-child {
  flex-direction: column;
  width: 230px;
}

.advantages__item:nth-of-type(2n+1) {
  margin-left: calc(100% - 2 * 350px);
}

.advantages__item:nth-of-type(3n) {
  margin-left: calc(100% - 2 * 350px);
}

.advantages__item--trainers {
  position: absolute;
  margin: 0;
  width: 240px;
  box-sizing: border-box;
  padding: 39px 27px 57px 27px;
  top: 0;
  left: 7.5%;
  transform: translateX(-7.5%);
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
}

.advantages__description {
  width: 177px;
}

.advantages__item--trainers h3 {
  color: $white;
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  font-size: 74px;
  line-height: 111px;
  text-align: center;
  margin-bottom: 34px;
}

.advantages__number {
  display: block;
  height: auto;
  margin-bottom: -16px;
}

.advantages__note {
  display: block;
  font-size: 26px;
  line-height: 39px;
}

.advantages__item--trainers p {
  color: $white;
  text-align: center;
}

.advantages__item--square,
.advantages__item--cars {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 340px;
    height: 2px;
    background-color: rgba(209, 10, 66, 0.2);
  }
}

@media (max-width: $tablet-width) {
  .advantages {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .advantages h2 {
    text-align: center;

    @include tablet-header;
    margin-bottom: 43px;
  }

  .advantages h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 1px;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 768px;
    min-width: 768px;
    box-sizing: border-box;
    padding: 0 45px;
    margin: 0 auto;
  }

  .advantages__item {
    width: 339px;
    height: auto;
    padding-bottom: 44px;
    margin: 0;
  }

  .advantages__item:nth-of-type(2n+1) {
    margin-left: 0;
  }

  .advantages__item:nth-of-type(3n) {
    margin-left: 0;
  }

  .advantages__item--square,
  .advantages__item--cars {
    &::after {
      display: none;
    }
  }

  .advantages__item--trainers h3 {
    font-size: 74px;
    line-height: 111px;
    margin-bottom: 13px;
  }

  .advantages__item--square {
    order: 1;
  }

  .advantages__item--cars {
    order: 2;
  }

  .advantages__item--comfort {
    padding-top: 0;
    order: 4;
  }

  .advantages__item--experience {
    padding-top: 0;
    order: 5;
  }

  .advantages__image {
    padding-left: 0;
  }

  .advantages__image--square {
    padding-top: 5px;
    width: 89px;
    height: 60px;
    margin-right: 0;
  }

  .advantages__image--comfort {
    width: 89px;
    height: 60px;
    padding-top: 6px;
  }

  .advantages__image--experience {
    width: 57px;
    height: 60px;
    padding-left: 14px;
    padding-top: 7px;
  }

  .advantages__image--cars {
    padding-left: 17px;
    padding-top: 5px;
    width: 59px;
    height: 60px;
  }

  .advantages__number {
    margin-bottom: -18px;
  }

  .advantages__note {
    font-size: 22px;
    line-height: 33px;
  }

  .advantages__item:first-of-type {
    position: static;
    order: 3;
    width: 442px;
    padding: 14px 126px;
    padding-bottom: 43px;
    margin-left: 118px;
    margin-bottom: 43px;
    transform: translateX(0);
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    padding-top: 72px;
    padding-bottom: 21px;
  }

  .advantages h2 {
    @include mobile-header;
    margin-bottom: 51px;
  }

  .advantages__item {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px;
    margin-bottom: 41px;
  }

  .advantages__item h3,
  .advantages__item p {
    text-align: center;
  }

  .advantages__item h3 {
    margin-bottom: 4px;
  }

  .advantages__number {
    margin-bottom: -24px;
  }

  .advantages__note {
    margin-bottom: 5px;
  }

  .advantages__list {
    padding: 0;
    flex-direction: column;
    height: auto;
    width: 320px;
    min-width: auto;
    margin: 0 auto;
  }

  .advantages__item:first-of-type {
    order: 3;
    width: 320px;
    height: 239px;
    margin: 0;
    padding: 21px 53px 0 53px;
    margin-bottom: 52px;
  }

  .advantages__item--cars div:last-child {
    width: 236px;
  }

  .advantages__image--square {
    width: 89px;
    height: 63px;
  }

  .advantages__image--cars {
    width: 59px;
    height: 63px;
  }

  .advantages__image--experience {
    width: 57px;
    height: 63px;
  }

  .advantages__image--comfort {
    width: 89px;
    height: 63px;
  }

  .advantages__image {
    padding: 0;
    margin: 0;
    align-self: center;
    margin-bottom: 10px;
  }
}
