.background {
  position: relative;
  width: 100%;
  height: auto;
  // background-color: $white;
  background-image: url("../img/weights-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 287px 494px;
  background-position: right 0 center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/weights-desktop@2x.png");
  }
}

@media (max-width: $tablet-width) {
  .background {
    background-image: url("../img/weights-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 374px 444px;
    background-position: right 0 bottom 219px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/weights-tablet@2x.png");
    }
  }
}

@media (max-width: $mobile-width) {
  .background {
    background-image: none;
  }
}
