.discount {
  padding: 120px 0;
  width: 100%;
  background-color: $white;
}

.discount h2 {
  @include desktop-header;
  text-align: center;
  margin-bottom: 51px;
}

.discount__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1161px;
}

.discount__list {
  @include list-reset;
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discount__info h3 {
  margin: 0;
  color: $white;
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 188px;
}

.discount__info p {
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  margin: 0;
  color: $white;
}

.discount__info p:first-of-type {
  font-size: 28px;
  line-height: 44px;
}

.discount__info p:last-of-type {
  font-size: 70px;
  line-height: 62px;
  margin-bottom: 23px;
}

.discount__info a {
  position: relative;
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  color: $white;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    width: 79px;
    height: 1px;
    background-color: $white;
    bottom: 0;
    left: 0;
  }

  &:hover {
    color: $dark-blue;

    &::after {
      background-color: $dark-blue;
    }
  }
}

.discount__info {
  padding-right: 312px;
  padding-left: 47px;
  padding-top: 33px;
  padding-bottom: 44px;
  box-sizing: border-box;
  width: 560px;
  height: 462px;
  background-color: $crimson;
  background-image: url("../img/girl-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: 280px 462px;
  background-position: right 0 top 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/girl-desktop@2x.jpg");
  }
}

.discount__item {
  width: 560px;
  height: 211px;
  padding: 23px 10px 27px 27px;
  box-sizing: border-box;
  border: 7px solid transparent;
  border-image: linear-gradient(-111.72deg, #ed0233 17.6%, #003eb7 95.31%);
  border-image-slice: 1;
}

.discount__list h3 {
  margin: 0;
  color: #1c3374;
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 8px;
}

.discount__list p {
  margin: 0;
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #1c3374;
  margin-bottom: 69px;
}

.discount__list a {
  position: relative;
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1c3374;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    width: 68px;
    height: 1px;
    background-color: #1c3374;
    bottom: 0;
    left: 0;
  }

  &:hover {
    color: $crimson;

    &::after {
      background-color: $crimson;
    }
  }
}

@media (max-width: $tablet-width) {
  .discount {
    padding-top: 100px;
    padding-bottom: 98px;
  }

  .discount h2 {
    @include tablet-header;
    margin-bottom: 41px;
  }

  .discount__container {
    flex-direction: column;
    width: 678px;
  }

  .discount__list {
    width: 678px;
    flex-direction: row;
    justify-content: space-between;
  }

  .discount__info {
    padding-right: 430px;
    padding-left: 47px;
    padding-top: 33px;
    padding-bottom: 44px;
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 678px;
    height: 462px;
    background-image: url("../img/girl-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 399px 462px;
    background-position: right 0 top 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/girl-tablet@2x.jpg");
    }
  }

  .discount__item {
    width: 324px;
    height: 211px;
    padding: 23px 10px 24px 27px;
    box-sizing: border-box;
    border: 7px solid transparent;
    border-image: linear-gradient(-111.72deg, #ed0233 17.6%, #003eb7 95.31%);
    border-image-slice: 1;
  }

  .discount__item p {
    margin-bottom: 68px;
  }

  .discount__item--free p {
    width: 165px;
    margin-bottom: 46px;
  }
}

@media (max-width: $mobile-width) {
  .discount {
    padding-top: 69px;
    padding-bottom: 41px;
  }

  .discount h2 {
    @include mobile-header;
    margin-bottom: 43px;
  }

  .discount__info {
    display: flex;
    flex-direction: column;
  }

  .discount__info h3,
  .discount__info p,
  .discount__info a {
    text-align: center;
  }

  .discount__info a {
    display: block;
    width: 79px;
    align-self: center;
    // &::after {
    //   left: 50px;
    // }
  }

  .discount__info h3 {
    margin-bottom: 32px;
  }

  .discount__container {
    flex-direction: column;
    width: 290px;
  }

  .discount__list {
    width: 290px;
    flex-direction: column;
    justify-content: space-between;
  }

  .discount__info {
    padding-right: 0;
    padding-left: 0;
    padding-top: 33px;
    padding-bottom: 44px;
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 290px;
    height: 598px;
    background-image: url("../img/girl-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 290px 299px;
    background-position: left 0 bottom 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/girl-mobile@2x.jpg");
    }
  }

  .discount__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    height: 211px;
    padding: 32px 0 24px 0;
    margin-bottom: 29px;
    box-sizing: border-box;
    border: 7px solid transparent;
    border-image: linear-gradient(-111.72deg, #ed0233 17.6%, #003eb7 95.31%);
    border-image-slice: 1;
  }

  .discount__item--fitness p {
    width: 161px;
    margin-bottom: 30px;
  }

  .discount__info p:last-of-type {
    margin-bottom: 16px;
  }

  .discount__item h3,
  .discount__item p,
  .discount__item a {
    text-align: center;
  }

  .discount__item--free p {
    margin-bottom: 28px;
  }




  // .discount__item p {
  //   margin-bottom: 68px;
  // }

  // .discount__item--free p {
  //   width: 165px;
  //   margin-bottom: 46px;
  // }
}
