.footer {
  width: 100%;
  background-color: #030a1a;
  flex: 0 0 auto;
}

.footer__container {
  max-width: 1366px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 103px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__nav {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 73px;
}

.footer__nav-item {
  margin-right: 40px;
  margin-bottom: 10px;
}

.footer__nav-item:last-child {
  margin-right: 0;
}

.footer__nav-item a {
  text-decoration: none;
  color: $white;
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;

  &:hover,
  &:focus {
    color: $crimson;
  }
}

.footer__social {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.footer__social li {
  border-bottom: 2px solid transparent;
  margin-right: 22px;

  &:hover {
    border-bottom: 2px solid $crimson;
  }
}

.footer__social li:last-child {
  margin-right: 0;
}

.footer__logo {
  align-self: center;
}


@media (max-width: $tablet-width) {
  .footer__container {
    width: 768px;
    padding: 43px 45px;
  }

  .footer__nav {
    width: 393px;
    padding-left: 24px;
  }

  .footer__nav-item {
    margin-right: 30px;
  }

  .footer__social li {
    margin-right: 17px;
  }
}

@media (max-width: $mobile-width) {
  .footer {
    max-width: 100%;
    min-width: 320px;
  }

  .footer__container {
    width: 320px;
    padding: 49px 15px;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__nav {
    width: 290px;
    // height: 119px;
    padding-left: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 21px;
  }

  .footer__nav-item {
    width: 130px;
    margin-bottom: 19px;
    box-sizing: border-box;
    order: 4;
    margin-right: 0;
  }

  .footer__nav-item a {
    font-size: 16px;
    line-height: 19px;
    text-align: left;
  }

  .footer__logo {
    order: 0;
    font-size: 20px;
    line-height: 20px;
    font-family: "BebasNeueBold", "Arial", cursive;
  }

  .footer__nav--discount {
    order: 1;
  }

  .footer__nav--services {
    order: 2;
  }

  .footer__nav--trainers {
    order: 3;
  }

  .footer__logo--show {
    display: none;
  }

  .footer__social li {
    margin-right: 35px;
  }

  .footer__social li:last-child {
    margin-right: 0;
  }
}
