.gym {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1366px;
  box-sizing: border-box;
  padding: 120px 7.5% 218px 7.5%;
  margin: 0 auto;
}

.gym__info-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}

.gym__info {
  padding: 45px 20px 20px 60px;
  width: 360px;
}

.gym__info h2 {
  @include desktop-header;
  margin-bottom: 10px;
}

.gym__info p {
  padding: 0;
  margin: 0;
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $dark-blue;
  margin-bottom: 8px;
}

.gym__info p:first-of-type {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 39px;
}

.gym__image img {
  width: 660px;
  height: auto;
}

.gym__image {
  width: 660px;
  height: auto;
}

.gym__video {
  position: absolute;
  left: 54%;
  bottom: 118px;
  transform: translateX(-54%);
  width: 364px;
  height: 228px;
  background-color: $dark-blue;
  background-image: url("../img/video-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-desktop@2x.jpg");
  }
}

@media (max-width: 1318px) {
  .gym__video {
    left: 60%;
    transform: translateX(-60%);
  }
}

.gym__play-btn {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 0;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover,
  &:focus {
    width: 120px;
    height: 120px;
    background-size: 120px auto;
  }
}

@media (max-width: $tablet-width) {
  .gym {
    width: 768px;
    box-sizing: border-box;
    padding: 55px 45px 169px 45px;
  }

  .gym__info-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .gym__info h2 {
    @include tablet-header;
    text-align: center;
    margin-bottom: 9px;
  }

  .gym__image img {
    width: 678px;
  }

  .gym__image {
    width: 678px;
  }

  .gym__info {
    padding: 45px 22px 34px 21px;
    width: auto;
  }

  .gym__info p {
    text-align: center;
    padding-left: 59px;
    padding-right: 49px;
  }

  .gym__info p:first-of-type {
    margin-bottom: 33px;
    padding: 0;
  }

  .gym__info p:last-of-type {
    display: none;
  }

  .gym__video {
    align-self: center;
    width: 266px;
    height: 167px;
    left: 50%;
    bottom: 101px;
    transform: translateX(-50%);
    background-color: $dark-blue;
    background-image: url("../img/video-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .gym__play-btn {
    width: 73px;
    height: 73px;
    background-size: 73px auto;

    &:hover,
    &:focus {
      width: 100px;
      height: 100px;
      background-size: 100px auto;
    }
  }
}

@media (max-width: $mobile-width) {
  .gym {
    width: auto;
    box-sizing: border-box;
    padding: 0;
    padding-bottom: 261px;
  }

  .gym__info {
    padding: 67px 22px 26px 15px;
  }

  .gym__info h2 {
    text-align: left;

    @include mobile-header;
    margin-bottom: 8px;
  }

  .gym__info p {
    text-align: left;
    padding-left: 0;
    padding-right: 14px;
  }

  .gym__info p:first-of-type {
    margin-bottom: 24px;
  }

  .gym__image img {
    width: 320px;
  }

  .gym__image {
    width: auto;
  }

  .gym__video {
    align-self: center;
    left: 50%;
    bottom: 70px;
    transform: translateX(-50%);
    width: 320px;
    height: 167px;
    background-image: url("../img/video-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-mobile@2x.jpg");
    }
  }
}
