.header {
  display: flex;
  justify-content: space-between;
  max-width: 1366px;
  box-sizing: border-box;
  padding: 30px 7.5% 30px 7.5%;
  margin: 0 auto;
}

.header p {
  padding: 0;
  margin: 0;
}

.header__phone {
  font-family: "BebasNeueBold", "Arial", cursive;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: $tablet-width) {
  .header__phone {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .header {
    width: 768px;
    // min-height: 554px;
    box-sizing: border-box;
    padding: 39px 45px 39px 45px;
  }
}

@media (max-width: $mobile-width) {
  .header__phone {
    font-size: 20px;
    line-height: 20px;
  }

  .header {
    width: auto;
    box-sizing: border-box;
    padding: 19px 15px 19px 15px;
  }
}
