.header {
  width: 100%;
  background: linear-gradient(-111.72deg, #ed0233 17.6%, #003eb7 95.31%);
}

.header__container {
  max-width: 1366px;
  box-sizing: border-box;
  padding: 0 103px 51px 103px;
  margin: 0 auto;
}

.header__info {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.header__info p {
  padding: 0;
  margin: 0;
}

.header__phone {
  font-family: "BebasNeueBold", "Arial", cursive;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: $white;
  text-transform: uppercase;
}

@media (max-width: $tablet-width) {
  .header__container {
    width: 768px;
    // min-height: 554px;
    box-sizing: border-box;
    padding: 0 45px 68px 45px;
  }

  .header__phone {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .header__info {
    padding-top: 39px;
  }
}

@media (max-width: $mobile-width) {
  .header__container {
    width: auto;
    // min-height: 491px;
    box-sizing: border-box;
    padding: 0 15px 48px 15px;
  }

  .header__phone {
    font-size: 20px;
    line-height: 20px;
  }

  .header__info {
    padding-top: 19px;
  }
}
