.info {
  width: 100%;
  background-color: $white;
  border-top: 1px solid #74819c;
  border-right: 1px solid #74819c;
  border-bottom: 1px solid #74819c;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  width: 425px;
  padding: 70px 0 47px 18%;
  margin-right: auto;
}

.info h2 {
  @include desktop-header;
  margin-bottom: 40px;
  color: $dark-blue;
}

.info h3 {
  margin: 0;
  margin-bottom: 2px;
  color: $dark-blue;
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.info p {
  margin: 0;
  color: $dark-blue;
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.info a {
  text-decoration: none;
  color: $dark-blue;

  &:hover,
  &:focus {
    color: $crimson;
  }
}

.info__list {
  position: relative;
  display: flex;
  width: 500px;
  flex-wrap: wrap;

  &::after {
    position: absolute;
    content: "";
    width: 0.5px;
    height: 104px;
    left: 46.5%;
    top: 6%;
    transform: translateX(-46.5%);
    background-color: $dark-blue;
  }
}

.info__item {
  width: 233px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.info__item:nth-of-type(2n) {
  padding-left: 27px;
  margin-left: calc(100% - 2 * 233px);
}

// .info__item {
//   margin-bottom: 19px;
// }

// .info__container:first-child {
//   border-right: 1px solid #74819c;
//   margin-right: 59px;
//   padding-right: 63px;
// }

@media (max-width: $tablet-width) {
  .info-wrapper {
    width: 472px;
    padding: 70px 39px 42px 9px;
    border: none;
    margin: 0 auto;
  }

  .info h2 {
    @include tablet-header;
    margin-bottom: 32px;
  }

  .info h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 6px;
  }

  .info p {
    font-size: 18px;
    line-height: 27px;
  }

  .info__item:nth-of-type(2n) {
    padding-left: 47px;
  }

  .info__list {
    &::after {
      height: 128px;
      left: 53.5%;
      transform: translateX(-53.5%);
    }
  }
}

@media (max-width: $mobile-width) {
  .info-wrapper {
    width: 320px;
    padding: 70px 15px 43px 15px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .info__list {
    position: relative;
    flex-direction: column;
    display: flex;
    width: 500px;
    flex-wrap: wrap;

    &::after {
      display: none;
    }
  }

  .info h2 {
    @include mobile-header;
    margin-bottom: 34px;
  }

  .info__item:nth-of-type(2n) {
    padding-left: 0;
    margin-left: 0;
  }

  .info__item--adress,
  .info__item--phone {
    margin-bottom: 0;
  }

  .info__item--adress {
    order: 0;
  }

  .info__item--phone {
    order: 3;
  }

  .info__item--time {
    order: 2;
  }

  .info__item--email {
    order: 4;
  }

  .info__item {
    margin-bottom: 19px;
  }

  .info__container:first-child {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
  }
}
