.logo {
  font-family: "BebasNeueBold", "Arial", cursive;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: $white;
  text-transform: uppercase;
}

@media (max-width: $tablet-width) {
  .logo {
    font-size: 24px;
    line-height: 24px;
  }
}

@media (max-width: $mobile-width) {
  .logo {
    font-size: 20px;
    line-height: 20px;
  }
}
