.main-screen {
  width: 100%;
  background-image: linear-gradient(-111.72deg, #ed0233 17.6%, #003eb7 95.31%);
}

.main-screen__container {
  max-width: 1366px;
  margin: 0 auto;
  background-image: url("../img/promo-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: top 51px right 304px;
  background-size: 500px 556px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/promo-desktop@2x.jpg");
  }
}

@media (max-width: $tablet-width) {
  .main-screen__container {
    width: 768px;
    margin: 0 auto;
    background-image: url("../img/promo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: top 82px right 45px;
    background-size: 324px 390px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-tablet@2x.jpg");
    }
  }

  .main-screen {
    padding-bottom: 83px;
  }
}

@media (max-width: $mobile-width) {
  .main-screen {
    padding-bottom: 57px;
  }

  .main-screen__container {
    width: auto;
    background-image: none;
  }
}
