.order {
  display: flex;
  flex-direction: column;
  width: 683px;
  box-sizing: border-box;
  padding: 70px 170px 63px 7.5%;
  background-color: $dark-blue;
}

.order h2 {
  @include desktop-header;
  margin-bottom: 43px;
  color: $white;
}

.order input {
  color: $white;
  background-color: $dark-blue;
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  border: none;
  width: 190px;
  box-sizing: border-box;
  padding: 3px 0;
  border-bottom: 2px solid #74819c;
}

.order__inputs {
  margin-bottom: 29px;
  display: flex;
  justify-content: space-between;
}

.order input::placeholder,
.order input::placeholder,
.order::placeholder {
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-overflow: ellipsis;
  color: $white;
}

.order__button {
  border: 3px solid $white;
  background-color: $dark-blue;
  width: 410px;
  height: 52px;
  color: $white;
  box-sizing: border-box;
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  padding: 7px 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media (max-width: $tablet-width) {
  .order {
    width: 768px;
    padding: 70px 21.4% 70px 17.3%;
  }

  .order h2 {
    @include tablet-header;
    margin-bottom: 36px;
    color: $white;
  }

  .order input {
    width: 206px;
    padding: 3px 0;
    border-bottom: 2px solid #74819c;
  }

  .order__button {
    width: 472px;
    height: 52px;
  }
}

@media (max-width: $mobile-width) {
  .order {
    width: 320px;
    padding: 70px 15px 70px 15px;
  }

  .order h2 {
    @include mobile-header;
    margin-bottom: 38px;
    color: $white;
  }

  .order__inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
  }

  .order input {
    width: 290px;
    margin-bottom: 36px;
  }

  .order__button {
    width: 290px;
    height: 52px;
  }
}
