.order {
  width: 100%;
  background-color: $dark-blue;
}

.order-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 413px;
  padding: 70px 24.5% 70px 10px;
  margin-left: auto;
  background-color: $dark-blue;
}

.order h2 {
  @include desktop-header;
  margin-bottom: 43px;
  color: $white;
  align-self: flex-start;
}

.order input {
  color: $white;
  background-color: $dark-blue;
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  border: none;
  border-radius: 0;
  width: 190px;
  box-sizing: border-box;
  padding: 3px 0;
  border-bottom: 2px solid #74819c;

  &:hover,
  &:focus {
    border-bottom: 2px solid $crimson;
  }
}

.order input:first-of-type {
  margin-right: 30px;
}

.order__inputs {
  width: 410px;
  margin-bottom: 29px;
  display: flex;
}

.order input::placeholder,
.order::placeholder {
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-overflow: ellipsis;
  color: $white;
}

.order__button {
  border: 3px solid $white;
  background-color: $dark-blue;
  width: 413px;
  height: 52px;
  color: $white;
  box-sizing: border-box;
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  padding: 7px 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $white;
    color: $dark-blue;
  }
}

@media (max-width: $tablet-width) {
  .order-wrapper {
    width: 472px;
    padding: 70px 39px 70px 9px;
    margin: 0 auto;
    align-items: flex-start;
  }

  .order h2 {
    @include tablet-header;
    margin-bottom: 36px;
    color: $white;
  }

  .order__inputs {
    width: 100%;
  }

  .order input {
    width: 206px;
    padding: 3px 0;
    border-bottom: 2px solid #74819c;
  }

  .order input:first-of-type {
    margin-right: 59px;
  }

  .order__button {
    width: 472px;
    height: 52px;
  }
}

@media (max-width: $mobile-width) {
  .order-wrapper {
    width: 320px;
    padding: 70px 15px 70px 15px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .order h2 {
    @include mobile-header;
    margin-bottom: 38px;
    color: $white;
  }

  .order__inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
  }

  .order input {
    width: 290px;
    margin-bottom: 36px;
  }

  .order__button {
    width: 290px;
    height: 52px;
  }
}
