.trainers {
  position: relative;
  width: 1161px;
  background-color: $white;
  padding: 49px 0;
  padding-bottom: 120px;
  margin: 0 auto;
}

.trainers h2 {
  @include desktop-header;
  margin-bottom: 51px;
  align-self: flex-start;
}

.trainers__list {
  @include list-reset;
}

.trainers__name {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 294px;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 245px;
}

.trainers__name p {
  text-align: center;
  margin-bottom: 32px;
}

.trainers__name ul {
  margin-left: 35px;
}

.trainers__name p,
.trainers__name ul {
  display: none;
}

.trainers__item {
  position: relative;
  width: 260px;
  height: 294px;
  margin-right: 40px;
  background-color: $dark-blue;
  cursor: pointer;

  &:hover,
  &:focus {
    .trainers__name {
      padding-top: 53px;
      background-color: rgba(16, 38, 84, 0.89);
    }

    .trainers__name p {
      display: block;
      text-align: center;
      margin-bottom: 32px;
    }

    .trainers__name ul {
      display: block;
      margin-left: 35px;
    }
  }
}

.trainers__item:nth-child(4n) {
  margin-right: 0;
}

.trainers__item img {
  width: 260px;
  height: 294px;
}

.trainers h3 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: $white;
}

.trainers p {
  padding: 0;
  margin: 0;
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $grey;
}

.trainers__description {
  @include list-reset;
}

.trainers__description li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 13px;
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $white;
  }
}

.trainers__switch {
  position: absolute;
  width: 18px;
  height: 40px;
  margin-right: 38px;
  align-self: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  background-image: url("../img/icon-prev.svg");
  background-size: 16px 32px;
  background-position: center center;

  &:hover,
  &:focus {
    background-color: $dark-blue;
  }
}

.trainers__switch--prev {
  left: -57px;
  bottom: 176px;
}

.trainers__switch--next {
  transform: rotate(180deg);
  margin-right: 0;
  right: -57px;
  bottom: 176px;
}

@media (max-width: 1304px) {
  .trainers__switch--prev {
    left: 0;
    z-index: 100;
  }

  .trainers__switch--next {
    right: 0;
  }
}

@media (max-width: $tablet-width) {
  .trainers {
    width: 562px;
    padding: 29px 0;
    padding-bottom: 96px;
  }

  .trainers h2 {
    text-align: center;

    @include tablet-header;
    margin-bottom: 41px;
  }

  .trainers__item {
    width: 268px;
    height: 294px;
    margin-right: 31px;
  }

  .trainers__name {
    width: 268px;
    height: 294px;
    padding: 20px;
    padding-top: 245px;
  }

  .trainers__item:nth-child(4n) {
    margin-right: 41px;
  }

  .trainers__item img {
    width: 268px;
    height: auto;
  }

  .trainers__switch--prev {
    left: -60px;
    bottom: 158px;
  }

  .trainers__switch--next {
    right: -60px;
    bottom: 158px;
  }
}

@media (max-width: $mobile-width) {
  .trainers h2 {
    @include mobile-header;
    margin-bottom: 42px;
  }

  .trainers {
    width: 227px;
    padding: 25px 0;
    padding-bottom: 67px;
  }

  .trainers__item {
    width: 226px;
    height: 274px;
  }

  .trainers__name {
    width: 226px;
    height: 274px;
    padding: 20px;
    padding-top: 215px;
  }

  .trainers__item img {
    width: auto;
    height: 274px;
  }

  .trainers__switch--prev {
    left: -36px;
    bottom: 141px;
  }

  .trainers__switch--next {
    right: -36px;
    bottom: 141px;
  }
}
