.trainers__slider {
  width: 1160px;
  height: 294px;
}

.trainers {
  position: relative;
  width: 1272px;
  box-sizing: border-box;
  background-color: $white;
  padding: 46px 4%; // 56px
  padding-bottom: 120px;
  margin: 0 auto;
}

.trainers h2 {
  @include desktop-header;
  margin-bottom: 51px;
  align-self: flex-start;
}

.trainers__list {
  @include list-reset;
}

.trainers__name {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 294px;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 245px;
}

.trainers__name p {
  text-align: center;
  margin-bottom: 32px;
}

.trainers__name ul {
  margin-left: 35px;
}

.trainers__name p,
.trainers__name ul {
  display: none;
}

.trainers__item {
  position: relative;
  width: 260px;
  height: 294px;
  margin-right: 3.5%;
  background-color: $dark-blue;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    .trainers__name {
      padding-top: 53px;
      background-color: rgba(16, 38, 84, 0.89);
    }

    .trainers__name p {
      display: block;
      text-align: center;
      margin-bottom: 32px;
    }

    .trainers__name ul {
      display: block;
      margin-left: 35px;
    }
  }
}

.trainers__item:nth-child(4n) {
  margin-right: 0;
}

.trainers__item img {
  width: 260px;
  height: 294px;
}

.trainers h3 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: $white;
}

.trainers p {
  padding: 0;
  margin: 0;
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $grey;
}

.trainers__description {
  @include list-reset;
}

.trainers__description li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 13px;
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $white;
  }
}

.trainers__switch {
  position: absolute;
  width: 18px;
  height: 40px;
  margin-right: 38px;
  align-self: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../img/icon-prev.svg");
  background-size: 16px 32px;
  background-position: center center;
  z-index: 100;
}

.trainers__switch--prev {
  left: 0;
  bottom: 244px;

  &:hover,
  &:focus {
    background-image: url("../img/icon-prev-crimson.svg");
    outline: none;
  }
}

.trainers__switch--next {
  transform: rotate(180deg);
  margin-right: 0;
  right: 0;
  bottom: 244px;

  &:hover,
  &:focus {
    background-image: url("../img/icon-prev-crimson.svg");
    outline: none;
  }
}

@media (max-width: 1304px) {
  .trainers {
    padding-left: 1%;
    padding-right: 1%;
    width: auto;
  }

  .trainers h2 {
    margin-left: 4.5%;
  }

  .trainers__switch--prev {
    left: 2px;
    z-index: 100;
  }

  .trainers__switch--next {
    right: 2px;
  }
}

// .trainers {
//   position: relative;
//   width: 1272px;
//   box-sizing: border-box;
//   background-color: $white;
//   padding: 46px 4%; // 56px
//   padding-bottom: 116px;
//   margin: 0 auto;
// }

@media (max-width: $tablet-width) {
  .trainers__slider {
    width: 566px;
    height: 294px;
  }

  .swiper-slide {
    width: 268px;
    height: 294px;
  }

  .trainers {
    width: 704px;
    padding: 24px 56px;
    padding-bottom: 101px;
  }

  .trainers h2 {
    text-align: center;

    @include tablet-header;
    margin-bottom: 41px;
  }

  .trainers__item {
    width: 268px;
    height: 294px;
    margin-right: 31px;
  }

  .trainers__name {
    width: 268px;
    height: 294px;
    padding: 20px;
    padding-top: 245px;
  }

  .trainers__item:nth-child(4n) {
    margin-right: 41px;
  }

  .trainers__item img {
    width: 268px;
    height: auto;
  }

  .trainers__switch--prev {
    left: 12px;
    bottom: 222px;
  }

  .trainers__switch--next {
    right: 12px;
    bottom: 222px;
  }
}

@media (max-width: $mobile-width) {
  .trainers h2 {
    @include mobile-header;
    margin-bottom: 42px;
  }

  .trainers__slider {
    width: 226px;
    height: 294px;
  }

  .swiper-slide {
    width: 226px;
    height: 294px;
    margin: 0 auto;
  }

  .trainers {
    width: 290px;
    padding: 25px 32px;
    padding-bottom: 49px;
  }

  .trainers__item {
    width: 226px;
    height: 274px;
  }

  .trainers__name {
    width: 226px;
    height: 274px;
    padding: 20px;
    padding-top: 215px;
  }

  .trainers__item img {
    width: auto;
    height: 274px;
  }

  .trainers__switch--prev {
    left: -3px;
    bottom: 200px;
    background-size: 10px auto;
  }

  .trainers__switch--next {
    right: -3px;
    bottom: 200px;
    background-size: 10px auto;
  }
}
