@import "normalize";
@import "blocks/vars";
@import "blocks/mixins";
@import "blocks/fonts";
@import "blocks/global";
@import "blocks/full-wrapper";
@import "blocks/main-screen";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/promo";
@import "blocks/gym";
@import "blocks/weights";
@import "blocks/membership";
@import "blocks/advertizing";
@import "blocks/slick";
@import "blocks/trainers";
@import "blocks/advantages";
@import "blocks/discount";
@import "blocks/feedback";
@import "blocks/contacts";
@import "blocks/order";
@import "blocks/info";
@import "blocks/footer";
