@import "normalize";
@import "blocks/vars";
@import "blocks/mixins";
@import "blocks/fonts";
@import "blocks/global";
@import "blocks/main-screen";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/promo";
@import "blocks/gym";
@import "blocks/background";
@import "blocks/membership";
@import "blocks/advertizing";
@import "blocks/slick";
@import "blocks/trainers";
